{% load static i18n compress%}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{% block title %}Contact Tracing{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Application to easily capture contact trace forms"
    />
    <meta name="author" content="Alex Wine" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />

    {% block css %}

    <!-- Your stuff: Third-party CSS libraries go here -->

    {% compress css %}
    <!-- This file stores project-specific CSS -->

    <link href="{% static 'css/project.css' %}" rel="stylesheet" />

    {% endcompress %} {% endblock %}

    <style>
      .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      }
    </style>
  </head>

  <body class="d-flex flex-column" style="min-height: 100vh">
    <main role="main" class="flex-shrink-0">
      {% block navigation %}
      <div class="mb-1">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
          <button
            class="navbar-toggler navbar-toggler-right"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">Contact Tracing</a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>
              {% comment %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              {% endcomment %} {% if request.user.company %}
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a
                  class="nav-link"
                  href="{% url 'companies:detail' request.user.company.id  %}"
                  >{{ request.user.company }}</a
                >
              </li>
              {% endif %} {% if request.user.is_staff %}
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link" href="{% url 'admin:index'  %}">Admin</a>
              </li>
              {% endif %} {% if request.user.is_authenticated %}
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a
                  class="nav-link"
                  href="{% url 'users:detail' request.user.username  %}"
                  >{% trans "My Profile" %}</a
                >
              </li>
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link" href="{% url 'account_logout' %}"
                  >{% trans "Sign Out" %}</a
                >
              </li>
              {% else %}
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a
                  id="sign-up-link"
                  class="nav-link"
                  href="{% url 'account_signup' %}"
                  >{% trans "Sign Up" %}</a
                >
              </li>
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a
                  id="log-in-link"
                  class="nav-link"
                  href="{% url 'account_login' %}"
                  >{% trans "Sign In" %}</a
                >
              </li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>
      {% endblock %}
      <!-- heading -->
      {% block heading %} {% endblock heading%}
      <div class="container">
        {% if messages %} {% for message in messages %}
        <div
          class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}"
        >
          {{ message }}<button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %} {% endif %} {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
        {% endblock content %}
      </div>
    </main>

    {% block footer %}
    <footer class="footer mt-auto py-3 navbar-light bg-light">
      <div class="container">
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item">
            <a
              href="mailto:incoming+alexwine-contact-trace-22009761-issue-@incoming.gitlab.com"
              class="nav-link"
              >Support</a
            >
          </li>
        </ul>
      </div>
    </footer>
    {% endblock footer %}

    <!-- /container -->

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}

    <!-- Bootstrap JS and its dependencies-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://js.pusher.com/7.0/pusher.min.js"></script>

    <!-- Your stuff: Third-party javascript libraries go here -->

    <!-- place project specific Javascript in this file -->

    <script src="{% static 'js/project.js' %}"></script>

    {% endblock javascript %}
    <!-- place project specific Javascript in this file -->
    {% block addedjavascript %} {% endblock addedjavascript %}
  </body>
</html>
