{% extends "base.html" %} {% block navigation %}
<span></span>

{% endblock %} {% block content %} {% load crispy_forms_tags %}
<style>
  :root {
    --button-color: {{button_color}};
    --dark-button-color: {{dark_button_color}};
    --background-color: {{background_color}};
    --dark-background-color: {{dark_background_color}};
    --button-text-color: {{button_text_color}};
  }
  body {
    background: var(--background-color) linear-gradient(180deg, var(--dark-background-color), var(--background-color))
      repeat-x !important;
  }
</style>
<div class="pt-2 vote-container">
  <div>
    <div class="jumbotron">
      <div class="row align-items-center justify-content-around">
        {% if company.image %}
        <div class="row col-sm align-items-center justify-content-around">
          <img
            style="max-height: 25vh"
            src="{{company.image}}"
            alt=""
            class="img-fluid"
          />
        </div>
        {% endif %}
        <div class="col">
          <h1 class="display-6">
            {{company}}

            <br />
            <small class="text-muted">{{company.location}}</small>
          </h1>
        </div>
      </div>

      <form class="form-horizontal" method="post">
        {% csrf_token %} {{ form|crispy }}
        <div class="control-group">
          <div class="controls pt-3">
            {% if company.outline_button %}
            <button type="submit" class="btn btn-outline-primary">
              Update
            </button>
            {% else %}
            <button type="submit" class="btn btn-primary">Update</button>

            {% endif %}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% comment %}
<h3>{{company}}</h3>
{% endcomment %} {% endblock content %}

<!-- JS Content -->
{% block addedjavascript %}
<script>
  $(document).ready(function () {
    {% if company.email_required %}
      console.log("Email Required")
      var x = document.getElementsByName('email')
      x[0].required = true
    {% endif %}
    // Phone required
      var y = document.getElementsByName('phone_number')
      y[0].setAttribute("type", "tel")
    {% if company.phone_number_required %}
    console.log("Phone Required")

      y[0].required = true
    {% endif %}
  });
</script>
{% endblock addedjavascript %}

<!-- Remove Footer -->

{% block footer %} {% endblock footer %}
