{% extends "base.html" %} {% block content %} {% load qr_code %} {% comment %}
Load Humanize {% endcomment %} {% load humanize %}

<div class="row align-items-center justify-content-center">
  <div class="col-sm-9">
    <h3 class="">{{company}}</h3>
  </div>
  <div class="col-sm-3">
    <img src="{% qr_url_from_text create_link size="M" image_format='png' %}"
    class="img-thumbnail" alt="{{create_link}}">
  </div>
</div>

<a href="{% url 'companies:contacts-create' request.user.company.id %}">
  Check In
</a>
<div id="contacts" class="list-group">
  {% for contact in contacts %}

  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{contact.name}}</h5>
      <small>{{ contact.created_at | timesince }}</small>
    </div>
  </a>

  {% endfor %}
</div>
{% endblock content %} {% block addedjavascript %}
<script>
  $(document).ready(function () {
    var channel = pusher.subscribe("contact-added");
    var contacts_list = $("#contacts");
    var new_contacts = [];
    console.log("{{company.id}}");
    function append_user(contact) {
      var div = $('<div class="d-flex w-100 justify-content-between"></div>');

      var data = $('<h5 class="mb-1"></h5>').text(contact.name);
      var wrap = $(
        `<a href="#" id="${contact.id}" class="list-group-item list-group-item-action  list-group-item-primary"></a>`
      )
        .append(div)
        .append(data);
      contacts_list.prepend(wrap);
      var w = $(`#${contact.id}`);
      w.hide();
      w.slideDown("fast");
    }
    channel.bind("{{company.id}}", function (data) {
      if (new_contacts.length > 0) {
        var prev_contact = new_contacts[new_contacts.length - 1];

        $(`#${prev_contact.id}`).removeClass("list-group-item-primary");
      }
      new_contacts.push(data);

      append_user(data);

      console.log(new_contacts);
    });
  });
</script>
{% endblock addedjavascript %}
