{% extends "base.html" %}
<!-- Content -->
{%block heading%} {%if page.jumbo%}
<!-- Content -->
<div
  style="
    background-image: url({{page.bg_image}});
    background-position: center;
    background-size: cover;
  "
>
  <div class="jumbotron" style="background-color: rgba(220, 220, 220, 0.5)">
    <div class="row align-items-center justify-content-around">
      <div class="row col-sm align-items-center justify-content-around">
        <div class="jumbotron">{{page.data|safe}}</div>
      </div>
    </div>
  </div>
  {% comment %}
  <img
    sizes="(max-width: 767px) 100vw, (max-width: 532px) 500px, (max-height: 550px) 500px, (min-aspect-ratio: 3883/2912) calc((calc(100vh - 175px)) * 1.33345), calc(100vw - 32px)"
    srcset="
      https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=667&amp;q=80   667w,
      https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=967&amp;q=80   967w,
      https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1267&amp;q=80 1267w,
      https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1334&amp;q=80 1334w,
      https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1567&amp;q=80 1567w,
      https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1867&amp;q=80 1867w,
      https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1934&amp;q=80 1934w,
      https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2167&amp;q=80 2167w,
      https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2467&amp;q=80 2467w,
      https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2534&amp;q=80 2534w,
      https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2767&amp;q=80 2767w,
      https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=3067&amp;q=80 3067w,
      https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=3134&amp;q=80 3134w,
      https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=3367&amp;q=80 3367w,
      https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=3667&amp;q=80 3667w,
      https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=3734&amp;q=80 3734w,
      https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=3883&amp;q=80 3883w
    "
    src="https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80"
    alt="brown and gray concrete store"
  />
  {% endcomment %}
</div>
{%endif%} {% endblock heading %} {% block content %} {%if not page.jumbo %}

<div class="container">{{page.data|safe}}</div>

{% endif %} {% endblock content %}
