@import "custom_bootstrap_vars";
@import "bootstrap";

// project specific CSS goes here

////////////////////////////////
//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

.controls {
  display: flex;
  justify-content: flex-end;
}

.vote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

:root {
  --button-color: #007bff;
  --dark-button-color: #268fff;
  --background-color: #007bff;
  --dark-background-color: #268fff;
  --button-text-color: #fff;
}

.btn {
  transition: color 0.15s ease-in-out, opacity 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-primary {
  background-color: var(--button-color);
  border-color: var(--button-color);
  background: var(--button-color) -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(var(--dark-button-color)),
      to(var(--button-color))
    ) repeat-x;
}

.btn-outline-primary {
  color: var(--button-color);
  border-color: var(--button-color);
}
.btn-outline-primary:hover {
  color: #fff;
  background: var(--button-color) -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(var(--dark-button-color)),
      to(var(--button-color))
    ) repeat-x;
  border-color: var(--button-color);
}

.btn-primary:hover {
  background-color: var(--dark-button-color);
  border-color: var(--dark-button-color);
  opacity: 0.75;
  background: var(--dark-button-color);
}

.footer {
  background-color: #f5f5f5;
}

.asteriskField {
  display: none;
}
